<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<CodeCoverage>
						<ModulePaths>
							<Include>
								<ModulePath>.*Common.*</ModulePath>
								<ModulePath>.*Domain.*</ModulePath>
								<ModulePath>.*Application.*</ModulePath>
							</Include>
							<Exclude>
								<ModulePath>.*AppHost.*</ModulePath>
								<ModulePath>.*Api.*</ModulePath>
								<ModulePath>.*Infrastructure.*</ModulePath>
								<ModulePath>.*MigrationService.*</ModulePath>
								<ModulePath>.*ServiceDefaults.*</ModulePath>
							</Exclude>
						</ModulePaths>
						<UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
						<AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
						<CollectFromChildProcesses>True</CollectFromChildProcesses>
					</CodeCoverage>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
