<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<CodeCoverage>
						<ModulePaths>
							<Include>
								<ModulePath>.*\DigitalRightsManagement.Domain.dll$</ModulePath>
								<ModulePath>.*\DigitalRightsManagement.Application.dll$</ModulePath>
							</Include>
							<Exclude>
								<ModulePath>.*\DigitalRightsManagement.AppHost.dll$</ModulePath>
								<ModulePath>.*\DigitalRightsManagement.Infrastructure.dll$</ModulePath>
								<ModulePath>.*\DigitalRightsManagement.MigrationService.dll$</ModulePath>
								<ModulePath>.*\DigitalRightsManagement.ServiceDefaults.dll$</ModulePath>
							</Exclude>
						</ModulePaths>
						<UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
						<AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
						<CollectFromChildProcesses>True</CollectFromChildProcesses>
					</CodeCoverage>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>