<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<CodeCoverage>
						<ModulePaths>
							<Include>
								<ModulePath>.*Common\.dll</ModulePath>
								<ModulePath>.*Domain\.dll</ModulePath>
								<ModulePath>.*Application\.dll</ModulePath>
							</Include>
							<Exclude>
								<ModulePath>.*AppHost\.dll</ModulePath>
								<ModulePath>.*Api\.dll</ModulePath>
								<ModulePath>.*Infrastructure\.dll</ModulePath>
								<ModulePath>.*MigrationService\.dll</ModulePath>
								<ModulePath>.*ServiceDefaults\.dll</ModulePath>
							</Exclude>
						</ModulePaths>
						<UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
						<AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
						<CollectFromChildProcesses>True</CollectFromChildProcesses>
					</CodeCoverage>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
